<div class="row">
    <div class="col-lg-12">
        <md-toolbar>
            <h1 class="md-toolbar-tools" style="color: white;">EDIT/DELETE Tool</h1>
        </md-toolbar>
    </div>
</div>
<div class="row">
    <br/>
    <div class="col-lg-8">
        <md-content>
            <md-card>
                <form ng-submit="vm.updateTool()">
                    <md-input-container>
                        <label>Tool Name</label>
                        <input type="text" required
                               ng-model="vm.tool.TOOL_NAME">
                    </md-input-container>
                    <md-input-container>
                        <label>Tool Description</label>
                        <input type="text" required
                               ng-model="vm.tool.TOOL_DESC">
                    </md-input-container>

                    <md-button type="cancel" ui-sref="home.toollist" class="raised md-primary">Cancel</md-button>
                    <md-button type="submit" class="raised md-primary">Save</md-button>

                </form>
                    <md-button type="button" class="raised md-primary pull-right" ng-click="vm.deleteTool()" style="color: red; margin-left: 1em;">Delete</md-button>
            </md-card>
        </md-content>
    </div>
</div>